
.dropdown-menu {
    display: flex;
    justify-content: center;
}

.menu-right {
    padding: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.product {
    text-align: center;
}

.product img {
    max-width: 100px;
    height: auto;
}
.dropdown-menu {
    display: none; /* Đảm bảo dropdown ẩn cho đến khi click */
}